li:hover{
    outline:solid rgb(255, 255, 255) 1px ;
    cursor: pointer;
}
code{
    font-size: 16px;
}
.barWH{
    height: 22px;
}
.numOfQus{
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footerText{
   z-index: 100;
   position: fixed;
   bottom: 4px;
   left: 42%;
   color: #282A35;
   font-weight: 700;
 }
@media only screen and (max-width: 400px) {
    .ansFont{
        font-size: 13px;
    }
    .footerText{
        left: 20%;
        font-size: 14px;
    }
}
@media only screen and (max-width: 500px) {
    .footerText{
        left: 24%;
    }
}